.prodimg-container{
    padding-top: 300px;
    background-image: url("../assets/home.png");
    background-repeat: repeat-x;
    height: 600px;
    text-align: center;
    width: 100%;
}
#eb{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;;
    color: white;
    font-size: 2em;
}
#ebank-login{
    display: grid;
    padding-top: 5px;
    /* border: 1px solid green; */
    /* background-image: url("../assets/overview2.jpg"); */
    background-color: white;
    grid-column: 2/4;
    grid-template-columns: repeat(3, 1fr );
}
.edisplay{
    background-image: url("../assets/ebank.png");
    /* margin-top: 5px; */
    text-align: center;
    margin-bottom: 5px;
    /* border: 1px solid black; */
    height: 300px;
    grid-column: 2/3;
    border-radius: 5px;

}

#ebank-deposit{
    display: grid;
    /* border: 1px solid green; */
    grid-column: 2/4;
    grid-template-columns: repeat(3, 1fr );

}
.edisplay>h3{
    color: white;
}

#ebank-ouput{
    display: grid;
    background-color: #d8ebe4;
    grid-column: 2/4;
    grid-template-columns: repeat(3, 1fr );

}