/* MAIN BODY, LANDING PAGE */
.main-body{
    display: grid;
    margin-right: 0%;
    place-items: center;
    width: auto;
    /* border: 2px solid yellow; */
}
.slide-container{
    width: 100%;
    margin: auto;
    /* overflow: hidden; */
}
.img-slides{
    display: flex;
    width: 100%;
    height: 40%;
}
.intro{
    /* border: 1px solid yellow; */
    display: inline-block;
    padding: 15px ;
    margin: 15px 0px 10px 0px;
    place-content: center;
    background-color: #d8ebe4;
    /* box-shadow: tomato; */
}
.intro p{
    font-family: monospace;
    color:#435560;
}

#bankw{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 8px 25px;
    margin: 5px 5px 0px 545px;
    color: #282846;
    transition: 0.3s ease;
    border-radius: 8px;
    font-size: 1rem;
    border: 2px solid #282846;
    place-items: center;
}
.get2btn{
    margin: 20px;

 } 
 #bankw:hover{
     color: blue;
 }

 .social-media{
    text-align: center;
    /* border: 1px solid violet; */
    padding: 5px 5px 5px 5px ;
    background-color: white;
    margin-top: 0px;
}
.social-media img{
    height: 70px;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}
.social-media h2{
    font-family: monospace;
    color: #282846;
    height: 40px ;
    font-weight: 400;
    font-style: normal;
    margin: 5px;
    font-size: 30px;
    padding: 10px 15px 0;
    /* border: 1px solid red; */
}